<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <div style="display: flex; z-index: 10; background: lightgreen" [class.mat-elevation-z10]="true">
    <span>
      <button mat-icon-button>
        <mat-icon (click)="toggleSidebar()">menu</mat-icon>
      </button>
      <!-- <button (click)="loadMaps()">load</button> -->
    </span>
    <span>
      <h1 style=" width: 78vw; margin: 0px; height: 8vh; text-align: center; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif" (click)="loadMaps()">
        {{ state === "home" ? "Home" : "Scavenger Hunt" }}
      </h1>
  </span>
  <span style="padding-right: 10px;">
      <button mat-icon-button>
        <mat-icon (click)="changeState('home')">home</mat-icon>
      </button>
      <!-- <button (click)="loadMaps()">load</button> -->
    </span>
  </div>
  
  <div style="height: 88vh; z-index: -1; display: flex; width: 100vw;">
    <div *ngIf="sidebar" style="flex: 2 2 0; height: 92vh; background: lightcyan; overflow-y: scroll" [class.mat-elevation-z10]="true" >
      <div>
        <img [class.mat-elevation-z4]="true" style="width: 100px; height: auto; margin: 15px;" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png">
        <div><mat-icon>account_circle</mat-icon> John Smith</div>
        <div><mat-icon>mood</mat-icon> Level 7 | 1048 xp</div>
        <div><button mat-stroked-button style="margin: 5px;"><mat-icon>person_add</mat-icon>&nbsp;Add Friend</button></div>
        <mat-divider style="margin: 10px;"></mat-divider>
        <h3>Scavenger Hunt</h3>
        <div>2/13 Locations Complete</div>
        <mat-list>
            <mat-list-item><mat-icon>check_circle</mat-icon>&nbsp;A) North Bridge</mat-list-item>
            <mat-list-item><mat-icon>trip_origin</mat-icon>&nbsp;B) Flinders Monument</mat-list-item>
            <mat-list-item><mat-icon>check_circle</mat-icon>&nbsp;C) WWII Monument</mat-list-item>
            <mat-list-item><mat-icon>trip_origin</mat-icon>&nbsp;D) Flinders Monument</mat-list-item>
            <mat-list-item><mat-icon>trip_origin</mat-icon>&nbsp;E) Flinders Monument</mat-list-item>
            <mat-list-item><mat-icon>trip_origin</mat-icon>&nbsp;F) Flinders Monument</mat-list-item>
           </mat-list>
      </div>
    </div>
    <div *ngIf="state === 'home'" style="flex: 1 1 0;">
      <h3>Select a Challenge:</h3>
      <div style="padding: 5px"><button mat-stroked-button (click)="changeState('map')">Scavenger Hunt</button></div>
      <div style="padding: 5px"><button mat-stroked-button (click)="changeState('map')">City Capture</button></div>
    </div>
    <div *ngIf="state === 'map'" style="flex: 1 1 0">
      <div style="height: 4vh; font-family:monospace; font-size: 3vh; z-index: 0; background: lightsalmon;">
        <!-- 02:46:03 -->
        Time remaining - {{ hour }}:{{ (minute > 9 ? '' : '0') + minute }}:{{ (second > 9 ? '' : '0') + second }}
      </div>
      <div id="map" #gmap style="width:100%;height:100%" scroll="false"></div>
    </div>
    <div *ngIf="state === 'detail'" style="flex: 1 1 0; background: lightgray; height: 92vh;   overflow-y: scroll">
      <h3>Flinder's Monument</h3>
      <div>
        <img [class.mat-elevation-z2]="true" style="width: 100px; height: auto; margin: 10px;" src="http://sahistoryhub.com.au/sites/default/files/styles/gallery_full_crop/public/GN01906.jpg"/>
      </div>
      <p style="font-size: 16px; margin: 10px">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
      <button mat-stroked-button (click)="changeState('map')" style="margin-top:30px;"><mat-icon>add_a_photo</mat-icon>&nbsp;Upload Photo</button>
    </div>
    
  </div>
</div>